* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1000px;
  margin: auto 0;
  background-color: beige;
}
.header {
  position: relative;
  margin-bottom: 20px;
}
.black {
  display: flex;
  background-color: black;
  height: 32px;
}
.black-link img {
  margin-top: 5px;
  margin-left: 220px;
  width: 90px;
  height: 20px;
  ba
}

.red {
  background-color: red;
  height: 3px;
}
.blue {
  display: flex;
  background-color: #003366;
  height: 50px;
}
.blue1 {
  display: flex;
  margin-left: 319px;
}
.blue-link {
  margin-top: 12px;
  color: aliceblue;
  margin-left: 18px;
}
.blue-link a {
  color: white;
  font-size: 15px;
  font-weight: 800;
  text-decoration: none;
  margin-top: 10px;
}
.white {
  background-color: white;
  height: 50px;
  border: 1px rgb(102, 102, 102) solid;
}
.white1 {
  display: flex;
  margin-left: 319px;
}
.white-link {
  margin-left: 18px;
  margin-top: 12px;
  color: #003366;
}
.white-link a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 10px;
}
.white-link a:hover {
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 10px;
}

.logo img {
  position: absolute;
  margin-top: -100px;
  margin-left: 220px;
  width: 90px;
  height: 92px;
  border: 3px solid white;
}
/* glavniii news */
.one {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-left: 220px;
  /* margin-bottom: 10px; */
}

.one-info {
  /* 625/352 */
  width: 300px;
  height: 380px;
}
.one-text {
  line-height: 50px;
  width: 460px;
  margin-left: 370px;
  font-size: 50px;
  font-weight: 900;
  color: #003366;
}
.one-text:hover {
  text-decoration: underline;
}
/* .one-info2 {
  width: 300px;
  height: 450px;
  margin-left: 100px;
} */

/* section cards  */
.cards-main {
  display: flex;
  margin-left: 50px;
  justify-content: space-between;
  margin-left: 220px;
  margin-bottom: 50px;
  width: 1140px;
  background-color: white;
}

.card-text {
  
  font-size: 25px;
  line-height: 28px;
  font-weight: 900;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:#003366
  
 
}
.card-text:hover {
  text-decoration: underline;
}